* {
    padding: 0;
    margin: 0;
    color: white;
}

body {
    background-image: url("http://www.cc.puv.fi/~e1901076/CV/2416004.jpg");
    background-size: 100%;
}

.information-picture {
    position: fixed;
    margin-left: 14%;
    margin-top: 0.5%;
    z-index: 100;
    width: 15%;
    height: 25%;
}

#meikaMandoliini {
    height: 30%;
    position: fixed;
    border: 1px solid white;
}

.information-container {
    position: absolute;
    margin-left: 17.5%;
    margin-right: 15%;
    margin-top: 7%;
    border: 1px solid white;
    background-color: rgba(29,30,32,255, 0);
    height: 70%;
    width: 65%;
}

.nav-logo{
    width: 50px;
    height: 5px;
    background-color: rgb(255, 255, 255);
    margin: 6px 0;
    margin-left: 10px;
}

.nav-button {
    text-align: center;
    padding: 10px;
    background-color: rgb(233, 120, 120);
}

.nav {
    position: absolute;
    width: 7.1%;
    z-index: 99;
    height: 100%;
}

.nav-icon {
    margin-left: 50%;
    transform: translate(-50%);
}

.nav-list {
    width: 100%;
    margin-top: 200%;
    background-color: rgba(29,30,32,255, 0);
}

.nav-icon-div {
    width: 100%;
    padding: 25px;
}

.social-icons {
    margin-left: 50px;
}

.icons-container {
    margin-top: 200%;
    text-align: left;
}

.red {
    background-color: rgb(238, 87, 87);
}

.information-parent {
    margin-top: 5%;
    display: inline-block;
    width: 90%;
    height: 60%;  
}

.information-header {
    background-color: rgba(29,30,32,255, 0);
    font-family: "Roboto", sans-serif;
    width: 100%;
    font-size: 45px;
}

.information-header p {
    color: rgb(238, 87, 87);
    display: inline;
    background-color: rgba(29,30,32,255, 0);
}

.parents-container {
    text-align: left;
    background-color: rgba(29,30,32, 0);
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.information-parent div {
    margin-left: 25%;
    width: 75%;
}

.technologiesTable {
    margin-left: 25%;
    width: 75%;
    font-family: "Roboto", sans-serif;
    padding-bottom: 30px;
}

.table-header{
    background-color: rgba(29,30,32,255, 0);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 45px;
    text-align: center;
}

td {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-weight: 100;
    font-size: 25px; 
    word-wrap: break-word;
}

.infomation-main{
    background-color: rgba(29,30,32,255);
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 20px;
    width: 100%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
}

.information-main p {
    margin-top: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 25px; 
}

.information-main ul {
    list-style: none;
    margin-bottom: 20px;
}

.information-main li {
    margin-top: 15px;
    list-style: none;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 25px; 
    word-wrap: break-word;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
}

.third-column {
    margin: 0 !important;
    text-align: center !important;
    display: inline !important;
    width: 25% !important;
}

.third-column li {
    margin: 0;
    width: 33%;
}

.half-column {
    text-align: center;
    display: inline-block;
    width: 48%;
}

.half-column p {
    color: white;
}

.white-text p{
    color: white;
}

#technologiesDiv {
    width: 100%;
}

#technologiesDiv div {
    margin-left: 10% !important;
}